@tailwind base;
@tailwind components;
@tailwind utilities;

.ReactModal__Overlay {
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
    background-color: transparent !important;
}

.ReactModal__Overlay--after-open{
    transform: translateX(0);

}

.ReactModal__Overlay--before-close{
    transform: translateX(100%);
}